<h1>Extraccion, Transformación y Limpieza de Datos</h1>

<h2>Librerías</h2>

In [513]:
import pandas as pd

<h2>Transformación a CSVs</h2>

In [514]:
internet = pd.ExcelFile('../Datasets Originales/Internet.xlsx')

In [515]:
for hojas_excel in internet.sheet_names:
    df = pd.read_excel(internet, sheet_name=hojas_excel)
    
    archivo_CSV = f'{hojas_excel}.csv'
    
    df.to_csv(archivo_CSV, index=False)
    print(f'Hoja {hojas_excel} guardada como {archivo_CSV}')

Hoja Acc_vel_loc_sinrangos guardada como Acc_vel_loc_sinrangos.csv
Hoja Velocidad_sin_Rangos guardada como Velocidad_sin_Rangos.csv
Hoja Velocidad % por prov guardada como Velocidad % por prov.csv
Hoja Totales VMD guardada como Totales VMD.csv
Hoja Accesos_tecnologia_localidad guardada como Accesos_tecnologia_localidad.csv
Hoja Totales Accesos Por Tecnología guardada como Totales Accesos Por Tecnología.csv
Hoja Accesos Por Tecnología guardada como Accesos Por Tecnología.csv
Hoja Dial-BAf guardada como Dial-BAf.csv
Hoja Totales Dial-BAf guardada como Totales Dial-BAf.csv
Hoja Penetración-poblacion guardada como Penetración-poblacion.csv
Hoja Penetracion-hogares guardada como Penetracion-hogares.csv
Hoja Penetracion-totales guardada como Penetracion-totales.csv
Hoja Totales Accesos por velocidad guardada como Totales Accesos por velocidad.csv
Hoja Accesos por velocidad guardada como Accesos por velocidad.csv
Hoja Ingresos guardada como Ingresos.csv

<h2>Carga de Datos</h2>

provincia_VMD

In [516]:
provincia_VMD = pd.read_csv('../Hojas CSVs Excel/Velocidad % por prov.csv')
provincia_VMD.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     960 non-null    int64
 1   Trimestre               960 non-null    int64
 2   Provincia               960 non-null    object
 3   Mbps (Media de bajada)  960 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 30.1+ KB

In [517]:
provincia_VMD.head(5)

    Año  Trimestre        Provincia  Mbps (Media de bajada)
0  2023          4     Buenos Aires                  158.49
1  2023          4  Capital Federal                  234.44
2  2023          4        Catamarca                   89.40
3  2023          4            Chaco                  107.14
4  2023          4           Chubut                   20.29

totales_VMD

In [518]:
totales_VMD = pd.read_csv('../Hojas CSVs Excel/Totales VMD.csv')
totales_VMD.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     40 non-null     int64
 1   Trimestre               40 non-null     int64
 2   Mbps (Media de bajada)  40 non-null     float64
 3   Trimestre.1             40 non-null     object
dtypes: float64(1), int64(2), object(1)
memory usage: 1.4+ KB

In [519]:
totales_VMD.head(5)

    Año  Trimestre  Mbps (Media de bajada)    Trimestre.1
0  2023          4                  139.04   Oct-Dic 2023
1  2023          3                  129.67  Jul-Sept 2023
2  2023          2                  123.95   Abr-Jun 2023
3  2023          1                  110.50   Ene-Mar 2023
4  2022          4                  106.56   Oct-Dic 2022

accesos_x_tecnologia

In [520]:
accesos_x_tecnologia = pd.read_csv('../Hojas CSVs Excel/Accesos Por Tecnología.csv')
accesos_x_tecnologia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 962 entries, 0 to 961
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           961 non-null    object
 1   Trimestre     961 non-null    object
 2   Provincia     960 non-null    object
 3   ADSL          960 non-null    float64
 4   Cablemodem    960 non-null    float64
 5   Fibra óptica  960 non-null    float64
 6   Wireless      960 non-null    float64
 7   Otros         960 non-null    float64
 8   Total         960 non-null    float64
dtypes: float64(6), object(3)
memory usage: 67.8+ KB

In [521]:
accesos_x_tecnologia.head()

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2023,4,Buenos Aires,223391.0,2797700.0,1784593.0,137993.0,67943.0,5011620.0
1,2023,4,Capital Federal,58700.0,1198835.0,182520.0,4492.0,29820.0,1474367.0
2,2023,4,Catamarca,6669.0,11016.0,55437.0,1384.0,81.0,74587.0
3,2023,4,Chaco,14000.0,60277.0,62301.0,8404.0,2404.0,147386.0
4,2023,4,Chubut,26306.0,77217.0,26174.0,30543.0,9930.0,170170.0

totales_accesos_x_tecnologia

In [522]:
totales_accesos_x_tecnologia = pd.read_csv('../Hojas CSVs Excel/Totales Accesos Por Tecnología.csv')
totales_accesos_x_tecnologia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           40 non-null     int64
 1   Trimestre     40 non-null     int64
 2   ADSL          40 non-null     int64
 3   Cablemodem    40 non-null     int64
 4   Fibra óptica  40 non-null     int64
 5   Wireless      40 non-null     int64
 6   Otros         40 non-null     int64
 7   Total         40 non-null     int64
 8   Periodo       40 non-null     object
dtypes: int64(8), object(1)
memory usage: 2.9+ KB

In [523]:
totales_accesos_x_tecnologia.head()

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total,Periodo
0,2023,4,836390,6022532,3908183,585760,194796,11547661,Oct-Dic 2023
1,2023,3,897895,6018832,3708718,581436,200027,11406908,Jul-Sept 2023
2,2023,2,1006509,5997149,3463988,581823,202428,11251897,Abr-Jun 2023
3,2023,1,1204417,6002582,3243411,576647,214838,11241895,Ene-Mar 2023
4,2022,4,1315373,6037457,3060575,572969,221740,11208114,Oct-Dic 2022

dial_BAf

In [524]:
dial_BAf = pd.read_csv('../Hojas CSVs Excel/Dial-BAf.csv')
dial_BAf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               960 non-null    int64
 1   Trimestre         960 non-null    int64
 2   Provincia         960 non-null    object
 3   Banda ancha fija  960 non-null    int64
 4   Dial up           958 non-null    float64
 5   Total             960 non-null    int64
dtypes: float64(1), int64(4), object(1)
memory usage: 45.1+ KB

In [525]:
dial_BAf.head()

    Año  Trimestre        Provincia  Banda ancha fija  Dial up    Total
0  2023          4     Buenos Aires           5005720   5900.0  5011620
1  2023          4  Capital Federal           1472317   2050.0  1474367
2  2023          4        Catamarca             74586      1.0    74587
3  2023          4            Chaco            147381      5.0   147386
4  2023          4           Chubut            169313    857.0   170170

totales_dial_BAf

In [526]:
totales_dial_BAf= pd.read_csv('../Hojas CSVs Excel/Totales Dial-BAf.csv')
totales_dial_BAf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               40 non-null     int64
 1   Trimestre         40 non-null     int64
 2   Banda ancha fija  40 non-null     int64
 3   Dial up           40 non-null     int64
 4   Total             40 non-null     int64
 5   Periodo           40 non-null     object
dtypes: int64(5), object(1)
memory usage: 2.0+ KB

In [527]:
totales_dial_BAf.head()

    Año  Trimestre  Banda ancha fija  Dial up     Total        Periodo
0  2023          4          11535868    11793  11547661   Oct-Dic 2023
1  2023          3          11395115    11793  11406908  Jul-Sept 2023
2  2023          2          11239781    12116  11251897   Abr-Jun 2023
3  2023          1          11229459    12436  11241895   Ene-Mar 2023
4  2022          4          11195668    12446  11208114   Oct-Dic 2022

penetracion_poblacion

In [528]:
penetracion_poblacion= pd.read_csv('../Hojas CSVs Excel/Penetración-poblacion.csv')
penetracion_poblacion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Año                       960 non-null    int64
 1   Trimestre                 960 non-null    int64
 2   Provincia                 960 non-null    object
 3   Accesos por cada 100 hab  960 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 30.1+ KB

In [529]:
penetracion_poblacion.head()

    Año  Trimestre        Provincia  Accesos por cada 100 hab
0  2023          4     Buenos Aires                     27.68
1  2023          4  Capital Federal                     47.80
2  2023          4        Catamarca                     17.46
3  2023          4            Chaco                     11.85
4  2023          4           Chubut                     26.04

penetracion_hogares

In [530]:
penetracion_hogares= pd.read_csv('../Hojas CSVs Excel/Penetracion-hogares.csv')
penetracion_hogares.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           960 non-null    int64
 1   Trimestre                     960 non-null    int64
 2   Provincia                     960 non-null    object
 3   Accesos por cada 100 hogares  960 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 30.1+ KB

In [531]:
penetracion_hogares.head()

    Año  Trimestre        Provincia  Accesos por cada 100 hogares
0  2023          4     Buenos Aires                         80.96
1  2023          4  Capital Federal                        117.02
2  2023          4        Catamarca                         68.63
3  2023          4            Chaco                         44.35
4  2023          4           Chubut                         84.96

penetracion_totales

In [532]:
penetracion_totales= pd.read_csv('../Hojas CSVs Excel/Penetracion-totales.csv')
penetracion_totales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           40 non-null     int64
 1   Trimestre                     40 non-null     int64
 2   Accesos por cada 100 hogares  40 non-null     float64
 3   Accesos por cada 100 hab      40 non-null     float64
 4   Periodo                       40 non-null     object
dtypes: float64(2), int64(2), object(1)
memory usage: 1.7+ KB

In [533]:
penetracion_totales.head(5)

,Año,Trimestre,Accesos por cada 100 hogares,Accesos por cada 100 hab,Periodo
0,2023,4,78.56,24.66,Oct-Dic 2023
1,2023,3,77.84,24.41,Jul-Sept 2023
2,2023,2,77.02,24.14,Abr-Jun 2023
3,2023,1,77.20,24.17,Ene-Mar 2023
4,2022,4,77.21,24.15,Oct-Dic 2022

totales_accesos_x_velocidad

In [534]:
totales_accesos_x_velocidad= pd.read_csv('../Hojas CSVs Excel/Totales Accesos por velocidad.csv')
totales_accesos_x_velocidad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Año                      40 non-null     int64
 1   Trimestre                40 non-null     int64
 2   Hasta 512 kbps           40 non-null     int64
 3   Entre 512 Kbps y 1 Mbps  40 non-null     int64
 4   Entre 1 Mbps y 6 Mbps    40 non-null     int64
 5   Entre 6 Mbps y 10 Mbps   40 non-null     int64
 6   Entre 10 Mbps y 20 Mbps  40 non-null     int64
 7   Entre 20 Mbps y 30 Mbps  40 non-null     int64
 8   Más de 30 Mbps           40 non-null     int64
 9   OTROS                    40 non-null     int64
 10  Total                    40 non-null     int64
dtypes: int64(11)
memory usage: 3.6 KB

In [535]:
totales_accesos_x_velocidad.head(5)

,Año,Trimestre,Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OTROS,Total
0,2024,4,29708,71742,900253,978108,697232,350290,8224736,295592,11547661
1,2023,3,30274,80609,945608,998725,720084,350918,8003269,277421,11406908
2,2023,2,30827,79405,963510,1028250,734125,364730,7775095,275955,11251897
3,2023,1,31437,82048,1001553,1060321,729194,357769,7564819,414754,11241895
4,2022,4,31981,85668,1075272,1109421,765015,335573,7410902,394282,11208114

accesos_x_velocidad

In [536]:
accesos_x_velocidad= pd.read_csv('../Hojas CSVs Excel/Accesos por velocidad.csv')
accesos_x_velocidad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Año                  960 non-null    int64
 1   Trimestre            960 non-null    int64
 2   Provincia            960 non-null    object
 3   HASTA 512 kbps       960 non-null    float64
 4   + 512 Kbps - 1 Mbps  960 non-null    float64
 5   + 1 Mbps - 6 Mbps    960 non-null    float64
 6   + 6 Mbps - 10 Mbps   960 non-null    float64
 7   + 10 Mbps - 20 Mbps  960 non-null    float64
 8   + 20 Mbps - 30 Mbps  960 non-null    float64
 9   + 30 Mbps            960 non-null    float64
 10  OTROS                954 non-null    float64
 11  Total                960 non-null    float64
dtypes: float64(9), int64(2), object(1)
memory usage: 90.1+ KB

In [537]:
accesos_x_velocidad.head(5)

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,2024,4,Buenos Aires,26909.0,23962.0,228393.0,239339.0,246144.0,110876.0,4042646.0,93351.0,5011620.0
1,2024,4,Capital Federal,516.0,4544.0,26409.0,48083.0,33925.0,5829.0,1355061.0,0.0,1474367.0
2,2024,4,Catamarca,71.0,209.0,3065.0,3734.0,4423.0,1827.0,61181.0,77.0,74587.0
3,2024,4,Chaco,236.0,477.0,14811.0,10361.0,6247.0,5729.0,105485.0,4040.0,147386.0
4,2024,4,Chubut,111.0,1088.0,44276.0,31402.0,22843.0,20196.0,33665.0,16589.0,170170.0

ingresos

In [538]:
ingresos= pd.read_csv('../Hojas CSVs Excel/Ingresos.csv')
ingresos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        40 non-null     int64
 1   Trimestre                  40 non-null     int64
 2   Ingresos (miles de pesos)  40 non-null     float64
 3   Periodo                    40 non-null     object
dtypes: float64(1), int64(2), object(1)
memory usage: 1.4+ KB

In [539]:
ingresos.head(5)

    Año  Trimestre  Ingresos (miles de pesos)        Periodo
0  2023          4               1.673760e+08   Oct-Dic 2023
1  2023          3               1.331066e+08  Jul-Sept 2023
2  2023          2               1.180603e+08   Jun-Mar 2023
3  2033          1               1.041350e+08   Ene-Mar 2023
4  2022          4               7.244348e+07   Oct-Dic 2022

<h2>Eliminación de vacíos</h2>

Eliminamos de los datasets los campos que esten nulos.

In [540]:
accesos_x_tecnologia = accesos_x_tecnologia.dropna()

<h2>Manejo de valores faltantes</h2>

En El dataset de dial_BA faltan dos datos, pero no los voy a borrar ya que perdería datos. </br>
Los datos que faltan son de Formosa y Misiones del año 2018 para dail up. </br>
Para hayarlos voy a restar al Total el valor de la columna Banda Ancha.

In [541]:
mask = dial_BAf['Dial up'].isna()
dial_BAf.loc[mask, 'Dial up'] = dial_BAf.loc[mask, 'Total'] - dial_BAf.loc[mask, 'Banda ancha fija']

Para el dataser de accesos_por_velocidad faltan valores en la columna de otros para las provincias de La Rioja, Mendoza, Santa Cruz, Tierra del Fuego y Tucumán y para CABA. </br>
Hay un columna que es TOTAL, para poder ingresar los datos correctamente lo que voy a hacer es restar a esta columa los datos de las otras para que me de el resultado que iría.

In [542]:
#Para el DF de accesos_por_velocidad hago la cuenta para ver el resultado que iría en la columna "Otros"
columnas_velocidades = [
    'HASTA 512 kbps', 
    '+ 512 Kbps - 1 Mbps', 
    '+ 1 Mbps - 6 Mbps', 
    '+ 6 Mbps - 10 Mbps', 
    '+ 10 Mbps - 20 Mbps', 
    '+ 20 Mbps - 30 Mbps', 
    '+ 30 Mbps'
]

accesos_x_velocidad['suma_velocidades'] = accesos_x_velocidad[columnas_velocidades].sum(axis=1)

accesos_x_velocidad['OTROS'] = accesos_x_velocidad['Total'] - accesos_x_velocidad['suma_velocidades']

accesos_x_velocidad.drop(columns=['suma_velocidades'], inplace=True)

<h2>Duplicados</h2>

In [543]:
#Vemos si hay datos duplicados en los DFs
def valores_duplicados(df): 
    suma_duplicados = df.duplicated().sum()
    if suma_duplicados > 0:
        return f"El Dataframe{df} tiene {suma_duplicados} valores repetidos"
    else:
        return f"El Dataframe no tiene valores duplicados"

In [544]:
print(valores_duplicados(provincia_VMD))
print(valores_duplicados(totales_VMD))
print(valores_duplicados(accesos_x_tecnologia))
print(valores_duplicados(totales_accesos_x_tecnologia))
print(valores_duplicados(dial_BAf))
print(valores_duplicados(totales_dial_BAf))
print(valores_duplicados(penetracion_poblacion))
print(valores_duplicados(penetracion_hogares))
print(valores_duplicados(penetracion_totales))
print(valores_duplicados(totales_accesos_x_velocidad))
print(valores_duplicados(accesos_x_velocidad))
print(valores_duplicados(ingresos))

El Dataframe no tiene valores duplicados
El Dataframe no tiene valores duplicados
El Dataframe no tiene valores duplicados
El Dataframe no tiene valores duplicados
El Dataframe no tiene valores duplicados
El Dataframe no tiene valores duplicados
El Dataframe no tiene valores duplicados
El Dataframe no tiene valores duplicados
El Dataframe no tiene valores duplicados
El Dataframe no tiene valores duplicados
El Dataframe no tiene valores duplicados
El Dataframe no tiene valores duplicados

<h2>Transformación en las columnas</h2>

Em los DF que las columnas estén en dtype float los voy a pasar a int para una mayor comodidad a la hora de visaulizar. </br>
En el DF accesos_x_tecnologia el año y el trimestre tienen un *, voy a quitarlo para poder trabajar en la unión sin inconvenientes. </br>
En la columna de año en ingresos hay un error en un dato, en lugar de ser 2023 pone 2033 </br>
En la culumna de año en accesos por velocidad dice año 2024 y tendría que decir año 2023. </br>

In [545]:
accesos_x_tecnologia['Año'] = accesos_x_tecnologia['Año'].str.replace('*', '')
accesos_x_tecnologia['Trimestre'] = accesos_x_tecnologia['Trimestre'].str.replace('*', '')

accesos_x_tecnologia['Año'] = pd.to_numeric(accesos_x_tecnologia['Año'])
accesos_x_tecnologia['Trimestre'] = pd.to_numeric(accesos_x_tecnologia['Trimestre'])

col_a_mod_acc_x_tecnologia = ['ADSL','Cablemodem', 'Fibra óptica', 'Wireless', 'Otros', 'Total']
accesos_x_tecnologia[col_a_mod_acc_x_tecnologia] = accesos_x_tecnologia[col_a_mod_acc_x_tecnologia].astype(int)

In [546]:
totales_VMD = totales_VMD.drop(['Trimestre.1'], axis=1, errors='ignore')
totales_accesos_x_tecnologia = totales_accesos_x_tecnologia.drop(['Periodo'], axis=1, errors='ignore')
totales_dial_BAf = totales_dial_BAf.drop(['Periodo'], axis=1, errors='ignore')
penetracion_totales = penetracion_totales.drop(['Periodo'], axis=1, errors='ignore')
ingresos = ingresos.drop(['Periodo'], axis=1, errors='ignore')

In [547]:
provincia_VMD = provincia_VMD.round(2)
totales_VMD = totales_VMD.round(2)
accesos_x_tecnologia = accesos_x_tecnologia.round(2)
penetracion_poblacion = penetracion_poblacion.round(2)
penetracion_hogares = penetracion_hogares.round(2)
penetracion_totales = penetracion_totales.round(2)
ingresos = ingresos.round(2)

In [548]:
modificar_columnas = ['Año', 'Trimestre']
totales_VMD[modificar_columnas] = totales_VMD[modificar_columnas].astype(int)
ingresos[modificar_columnas] = ingresos[modificar_columnas].astype(int)

In [551]:
dial_BAf['Dial up'] = dial_BAf['Dial up'].astype(int)
columnas_a_modificar = ['HASTA 512 kbps',
       '+ 512 Kbps - 1 Mbps', '+ 1 Mbps - 6 Mbps', '+ 6 Mbps - 10 Mbps',
       '+ 10 Mbps - 20 Mbps', '+ 20 Mbps - 30 Mbps', '+ 30 Mbps', 'OTROS',
       'Total']
accesos_x_velocidad[columnas_a_modificar] = accesos_x_velocidad[columnas_a_modificar].round(0).astype(int)

modificar_VMD = ['Año', 'Trimestre']
ingresos[modificar_VMD] = ingresos[modificar_VMD].astype(int)

In [552]:
ingresos.loc[ingresos['Año'] == 2033, 'Año'] = 2023
accesos_x_velocidad.loc[accesos_x_velocidad['Año'] == 2024, 'Año'] = 2023
totales_accesos_x_velocidad.loc[totales_accesos_x_velocidad['Año'] == 2024, 'Año'] = 2023

<h2>Descarga Datasets Limpios</h2>

In [556]:
provincia_VMD.to_csv('provincia_VMD.csv', index=False)
totales_VMD.to_csv('totales_VMD.csv', index=False)
accesos_x_tecnologia.to_csv('accesos_x_tecnologia.csv', index=False)
dial_BAf.to_csv('dial_BAf.csv', index=False)
totales_dial_BAf.to_csv('totales_dial_BAf.csv', index=False)
penetracion_poblacion.to_csv('penetracion_poblacion.csv', index=False)
penetracion_hogares.to_csv('penetracion_hogares.csv', index=False)
penetracion_totales.to_csv('penetracion_totales.csv', index=False)
accesos_x_velocidad.to_csv('accesos_x_velocidad.csv', index=False)
totales_accesos_x_velocidad.to_csv('totales_accesos_x_velocidad.csv', index=False)
ingresos.to_csv('ingresos.csv', index=False)
totales_accesos_x_tecnologia.to_csv('totales_accesos_x_tecnologia.csv', index=False)